{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
{% block content %}
<div class="container">
  <h2>tripwire.log</h2>
  <div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>No.</th>
        <th>date</th>
        <th>host</th>
        <th>process</th>
        <th>message</th>
      </tr>
    </thead>
    <tbody>
{% for data in tripwire_log %}
      <tr>
        <td><a href="{% url 'monitor:tripwire' %}">{{ data.id }}</a></td> <!-- detail의 data.id(ID)만 읽어라 -->
        <td>{{ data.date }}</td>
        <td>{{ data.host }}</td>
        <td>{{ data.process }}</td>
        <td>{{ data.message }}</td>
      </tr>
{% endfor %}
    </tbody>
  </table>
  </div>
</div>
{%endblock%}
</body>
</html>
